name: CI - Develop

on:
  push:
    branches:
      - develop

env:
  SHA_TAG: ${{ github.sha }}

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---------------- BACKEND ----------------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Backend Tests
        working-directory: backend
        run: |
          pip install -r requirements.txt
          

      # ---------------- FRONTEND ----------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Frontend Tests (Playwright)
        working-directory: frontend
        run: |
          npm install
          npx playwright install --with-deps
          npx playwright test

      # ---------------- DOCKER ----------------
      - name: GCP Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

# Configure Docker for Artifact Registry
      - name: Configure Docker
        run: |
          gcloud auth configure-docker \
          ${{ secrets.GCP_REGION }}-docker.pkg.dev

# Build & Push Backend Image (GCP)
      - name: Build & Push Backend Image (GCP)
        run: |
          docker build -t backend:${SHA_TAG} backend

          docker tag backend:${SHA_TAG} \
          ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/app/backend:${SHA_TAG}

          docker push \
          ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/app/backend:${SHA_TAG}
